{{>header}}
{{>navbar}}
<form action="/adress">
    <div class="mb-3">
        <input name="adresstype" class="form-control" placeholder="adress type">
        <input name="adressdetail" class="form-control" placeholder="adress details">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Add User</button>
    </div>
</form>
{{>footer}}